<div class="d-flex flex-column align-items-center justify-content-center" style="min-height: 100vh;">
  <div class="contact text-center">
    <h1>Contact information</h1>
    <ul>
      <li><span class="li-icon">{% include svg/pin-alt.svg %}</span><span>Hollendergata 3, 4514 Mandal</span></li>
      <li><span class="li-icon">{% include svg/phone.svg %}</span><span>+47 969 11 587</span></li>
      <li><span class="li-icon">{% include svg/mail.svg %}</span><a href="mailto:bjanda@protonmail.com">bjanda@pm.me</a></li>
    </ul>
  </div>
</div>

<div class="bmc-container">
  <script type="text/javascript" 
          src="https://cdnjs.buymeacoffee.com/1.0.0/button.prod.min.js" 
          data-name="bmc-button" 
          data-slug="polybjorn" 
          data-color="#5F7FFF" 
          data-emoji="☕"  
          data-font="Bree" 
          data-text="Buy me a coffee" 
          data-outline-color="#000000" 
          data-font-color="#ffffff" 
          data-coffee-color="#FFDD00">
  </script>
</div>
