<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">{{ site.title }}</h1>
    <h1 class="particles-subtitle">{{ site.taglong }}</h1>
    <div class="nowrap">
        {% if site.social.grabcad %}
      <a class="particles-icon" href="https://grabcad.com/{{ site.social.grabcad }}">{% include svg/cube.svg %}</a>
      {% endif %}
      <a class="particles-icon" href="cv">{% include svg/cv-circled.svg %}</a>
      {% if site.social.github %}
      <a class="particles-icon" href="https://github.com/{{ site.social.github }}">{% include svg/github.svg %}</a>
      {% endif %}
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
