<div id="particles-js" class="fullscreen">
  <div class="jumbotron text-center">
    {% if site.photo %}
    <img class="particles-photo" src="{{ site.photo }}" />
    {% endif %}
    <h1 class="particles-title">Bjørn A. Andersen</h1>
    <h2 class="particles-subtitle">Digital business card</h2>
    <div class="nowrap">
        {% if site.social.grabcad %}
      <a class="particles-icon" href="https://grabcad.com/{{ site.social.grabcad }}" rel="nofollow">{% include svg/cube.svg %}</a>
      {% endif %}
      <a class="particles-icon" href="cv">{% include svg/cv-circled.svg %}</a>
      {% if site.social.github %}
      <a class="particles-icon" href="https://github.com/{{ site.social.github }}" rel="nofollow">{% include svg/github.svg %}</a>
      {% endif %}
    </div>
  </div>
  <div class="particles-scroll">
    <a class="particles-icon" href="#scroll">{% include svg/nav-arrow-down.svg %}</a>
  </div>
</div>
